<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="https://fonts.googleapis.com/css?family=Gothic+A1:600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> -->
	<link rel="icon" href="/static/images/logo.png">
	<title>Leaderboard</title>
	<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/leaderboard.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
	<script type="text/javascript">

		$(document).ready(function () {
			Leaderboard();

		});
	</script>
	<nav class="navbar navbar-expand-sm navbar-light">
		<!-- Links -->
		<a class="navbar-brand" id="wallstreet" href="/">WallStreet</a>
	</nav>
	<div class="display-4 text-center"> Leaderboard </div>
	<p class="text-center"> Know where you stand! </p>
	<br>
	<table class="table table-striped table-sm text-center" id="mytable">
		<thead style="color:white;">
			<tr>
				<th><h3><b> Rank </b></h3></th>
				<th><h3><b> Name </b></h3></th>
				<th><h3><b> Money </b></h3></th>
			</tr>
		</thead>
		<tbody id="leaderboard">

		</tbody>
	</table>
	<script>
		function Leaderboard() {
			$.get('/leaderboard/update/', function (data) {
				console.log(data);
				var leaderboardData = "";
				for (var i = 0; i < data.data.length; i++) {
					leaderboardData += "<tr><td class='center' style='color:white;'>" + (data.data[i].index) + "<td class='center' style='color:white;'>" + (data.data[i].username) + "</td><td class='center' style='color:white;'> &#8377; " + (data.data[i].holding) + "</td></tr>";
				}
				$("#leaderboard").html(leaderboardData);
			});
		}

		setInterval(Leaderboard, 4000);

	</script>
</body>

</html>