<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="icon" href="/static/images/logo.png">
    <title>Dashboard | WallStreet '18</title>
    <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/static/css/materialize.min.css"> -->
    <!-- <script src="dashboard.js"></script> -->
    <script src="/static/js/plotly.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.basic.toast.js"></script>
    <script src="/static/js/loader.js"></script>
</head>

<body>

    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            CurrentHolding();
            LoadPrice();
        });

        function popitup(url) {
            var leftPosition, topPosition;

            leftPosition = (window.screen.width / 2) - ((800 / 2) + 10);

            topPosition = (window.screen.height / 2) - ((600 / 2) + 50);

            newwindow = window.open(url, 'name', "status=no,height=600,width=800,resizable=yes,left="
                + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY="
                + topPosition + ",toolbar=no,menubar=no,scrollbars=no,directories=no");

            if (window.focus) { newwindow.focus() }
            return false;
        }


    </script>
    <div id="bg"></div>
	<div id="loader"></div>
    <nav class="navbar navbar-expand-sm navbar-light">
        <!-- Lincomks -->
        <a class="navbar-brand" style="color:#ff8f00;" id="wallstreet" href="/"><img src="/static/images/wslogo.png" alt="Logo not available!"
                id="logows">WallStreet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link ml-2" style="color:#1E1D54" href="/auth/logout/">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ml-2" style="color:#1E1D54" href="/leaderboard/get/">Leaderboard</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--Content-->
    <div id="shade">
        <div class="flex-container">
            <div class="left">
                <div class="box1">
                    <h1 class="ml-3"><B> Welcome<br> {{ name }} </B></h1>
                </div>
                <div class="box2">
                    <h3 id="caption"> Money </h3>
                    <h3 id="money"></h3>
                </div>
                <div class="box3">
                    <h3 id="caption"> Stocks </h3>
                    <div class="form-group">
                        <label for="sel1" style="font-size:22px;color:#1E1D54;font-weight:bold;padding:3%;">Shares :</label>
                        <select class="form-control" id="sharename">
                            {% for obj in shares %}
                            <option value="{{ obj.id }}">{{ obj.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1" style="font-size:22px;color:#1E1D54;font-weight:bold;padding-left:3%;">Quantity
                            :
                        </label>
                        <input type="number" class="form-control" id="sharequantity" placeholder="0">
                    </div>
                    <div class="flex-container text-center" id="buttons">
                        <div> <input type="submit" class="btn btn-sm btn-danger text-center mr-2 ml-5 mb-2" id="buy" value="BUY"></div>
                        <div> <input type="submit" class="btn btn-sm btn-danger text-center ml-2 mb-2" id="sell" value="SELL"></div>
                    </div>
                </div>
            </div>
            <div class="right">
                <table class="table table-striped table-sm">
                    <thead class="text-center">
                        <tr>
                            <th scope="col">Share Name</th>
                            <th scope="col">Current Price</th>
                            <th scope="col">Previous Price</th>
                            <th scope="col">Percentage change</th>
                            <th scope="col">Shares bought</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="share_table">

                    </tbody>
                </table>
                <div id="graph" height="400" width="800" style="padding-left: 3%"></div>

            </div>
        </div>
    </div>
    <script>
        setInterval(function () {
            LoadPrice();
        }, 10000);

        function Graph(id) {
            $.get('/sellbuy/graph/' + id + '', function (data) {
                console.log(data);
                var trace = {
                    x: data.share_time,
                    y: data.share_price,
                    type: 'Scatter'
                };
                var graphData = [trace];

                var layout = {
                    title: data.share_name
                };

                Plotly.newPlot('graph', graphData, layout);
            });
        }

        function LoadPrice() {

            $.get('/sellbuy/data/', function (data) {
                console.log(data);
                var tableHTML = "";
                for (var i = 0; i < data.data.length; i++) {
                    // tableHTML += '<tr><td><a href=' + '\'/sellbuy/graph/' + (data.data[i].share_id) + '\' onclick=\"return popitup(\'/sellbuy/graph/' + (data.data[i].share_id) + '\')\">' + (data.data[i].share) + '</a>' + '</td><td>' + (data.data[i].current_price) + '</td><td>' + (data.data[i].previous_price) + '</td><td>' + (data.data[i].percentage_share_change) + '</td><td>' + (data.data[i].quantity) + '</td></tr>';
                    tableHTML += '<tr><td onclick=\"Graph(' + (data.data[i].share_id) + ')\"><a href="#">' + (data.data[i].share) + '</a>' + '</td><td>' + (data.data[i].current_price) + '</td><td>' + (data.data[i].previous_price) + '</td><td>' + (data.data[i].percentage_share_change) + '</td><td>' + (data.data[i].quantity) + '</td></tr>';

                }
                $("#share_table").html(tableHTML);

            });
        }

        function CurrentHolding() {
            $.get('/sellbuy/money/', function (data) {
                $("#money").html("&#8377; " + data.money);
            });
        }


        $("#buy").click(function (e) {

            e.preventDefault();
            var dropdown = $("#sharename").val();
            var quantity = $("#sharequantity").val();
            var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
            var button = $(this).val();
            $.ajax({
                type: 'POST',
                url: '/sellbuy/transaction/',
                data: {
                    dropdown: dropdown,
                    quantity: quantity,
                    button: button,
                    csrfmiddlewaretoken: csrfmiddlewaretoken

                },
                success: function (data) {
                    CurrentHolding();
                    LoadPrice();
                    $.Toast(data.message, {
                        'duration': 4000,
                        'position': 'bottom',
                        'z-depth': 99999
                    });
                }
            });

        });

        $("#sell").click(function (e) {

            e.preventDefault();

            var dropdown = $("#sharename").val();
            var quantity = $("#sharequantity").val();
            var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
            var button = $(this).val();

            $.ajax({
                type: 'POST',
                url: '/sellbuy/transaction/',
                data: {
                    dropdown: dropdown,
                    quantity: quantity,
                    button: button,
                    csrfmiddlewaretoken: csrfmiddlewaretoken

                },
                success: function (data) {
                    CurrentHolding();
                    LoadPrice();
                    $.Toast(data.message);
                }
            });

        });

    </script>
</body>

</html>
