body,html {
  height: 100vh;
  overflow-x: hidden;
}
.navbar-nav {
  margin-left: auto;
  font-size: 24px;
  color: #ff8f00;
}
.navbar-brand {
  font-size: 34px;
  color: #ff8f00;
}
#logows {
  height: 60px;
  width: 60px;
  margin-right: 8%;
}
body {
  font-family:  'Lato', sans-serif;
}
#shade {
  background-color: #D8D8D8;
  height:700px;
}
#caption {
  background-color: #1E1D54;
  color: #ff8f00;
  padding:3%;
}
#data {
  padding-top: 3%;
  padding-left: 6%;
  font-weight: bold;
}
.left {
  width: 20%;
  padding-top: 1.5%;
}
.box1{
  background-color: #1E1D54;
  color: #ff8f00;
  margin-left:6%;
  font-weight: bold;
  min-height: 120px;
  padding-top: 3%;
  margin-top: 3%;
  overflow-y: hidden;
}
.box2 {
  margin-top: 9%;
  margin-left: 6%;
  background-color: white;
  padding-bottom: 3%;
  height: 130px;
}
.box3 {
  margin-top: 9%;
  margin-left: 6%;
  margin-bottom: 3%;
  background-color: white;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
#buy, #sell {
  border-radius: 20px;
  width: 80px;
  color: #1E1D54;
  font-weight: bold;
  font-size: 15px;
  justify-content: center;
}
#sharename, #sharequantity {
  background-color:  #D8D8D8;
  border-radius: 15px;
  width: 85%;
  margin-left: 6%;
  overflow-x: hidden;
  position: relative;
}

.right {
  width: 75%;
}
.table {
  background-color: white;
  margin-top: 2.5%;
  margin-left: 3%;
}
#head {
  color: #ff8f00;
}
thead{
  background-color: #1E1D54;
  color: #ff8f00;
}
#graph {
  background-color: white;
  margin-top: 1%;
  margin-left: 3%;
  width: 100%;
  height: 54%;
  }

canvas {
  margin-top: 1%;
  margin-left: 3%;
  background-color: white;
  border: 1px solid gray;
  padding-left: 1.5%;
  padding-top: 1.5%;
}
h3 {
  color: #ff8f00;
  font-weight: bold;
  margin-top: 2%;
}
@media screen and (max-width:768px){
  .left {
    width: 80%;
    margin-left: 8%;
  }
  .ml-3{
    font-size: 32px;
  }
  #box3{
    font-size: 10px;
  }
  .table {
    width: 80%;
    margin-top: 10%;
    font-size: 15px;
    float: center;
  }
  canvas {
    height: 400px;
  }
  #graph{
    height:100px;
    width:400px;
  }
}

.sl-notification.alert { background-color: rgba(220,80,80,0.95); }

.sl-notification.show {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.sl-notification {
  position: fixed;
  padding: 12px 16px;
  margin: 0;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0,0,0,0.9);
  text-align: left;
  border-radius: 2px;
  opacity: 0;
  line-height: 1.4;
  font-family: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s ease;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s ease;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
