html {
    height: 100%;
    }
    body {
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Fjalla One', sans-serif;*/
    background-color: #001f3f;
    font-family: 'Arsenal', sans-serif;
     overflow-x: hidden;
     height: 100%;
  }
  
  .card {
    width:32%;
    float:right;
    background-size: cover;
    height: 100vh;
  }
  
   p {
     font-size: 20px;
   }
  .display-4{
    color: #003366;
    font-weight: normal;
  }
  #signin {
    font-size: 15px;
  }
  .btn {
    font-weight: bold;
    width:97%;
    margin-left: 8px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-top: 30px;
  }
  input[type="text"],input[type="email"],input[type="password"],input[type="tel"],select,
  select.form-group {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }
  
  input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="tel"]:focus,imp
  select.form-group:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid red;
  }
  
  #branch {
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }
  
  #branch:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid red;
  }
   #Username {
     background-color: ;
   }
  #errorp, #erroru, #errorc{
    color: red;
  }
  
  @media screen and (max-width: 768px) {
    body {
      font-size: 16px;
    }
    p {
      font-size: 15px;
    }
    .display-4 {
      font-size: 40px;
    }
    .card {
     margin-top: 3%;
     margin-bottom: 10%;
     width: 77%;
     float: none;
     border: 1px solid black;
     height: auto;
    }
    .form-group {
      font-size: 10px;
    }
    #errorc,#errorp,#erroru {
      font-size: 13px;
    }
    input[type="text"],input[type="email"],input[type="password"],input[type="tel"],#branch{
      font-size: 14px;
    }
    #signin {
      font-size: 14px;
    }
    #register {
      width: 85%;
      margin-left: 7%;
    }
  