html {
  height: 100%;
  }
  body {
  /*font-family: 'Oswald', sans-serif;*/
  /*font-family: 'Fjalla One', sans-serif;*/
  background-color: #001f3f;
  font-family: 'Arsenal', sans-serif;
   overflow-x: hidden;
   height: 100%;
}
.card {
  display: none;
}
#bg {
  background-color: black;
  height:100vh;
}
#loader {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin: -75px 0 0 -75px;
    border-radius: 90%;
    border:3px solid transparent;
    border-top-color:  #6882A1;
    -webkit-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: red;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border:3px solid transparent;
    border-top-color: white;;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.card {
  width:32%;
  float:right;
}

 p {
   font-size: 20px;
 }
.display-4{
  color: #003366;
  font-weight: normal;
}
#signin {
  font-size: 15px;
}
.btn {
  font-weight: bold;
  width:97%;
  margin-left: 8px;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-top: 30px;
}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"],select,
select.form-group {
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="tel"]:focus,imp
select.form-group:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid red;
}

#branch {
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

#branch:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid red;
}
 #Username {
   background-color: ;
 }
#errorp, #erroru, #errorc{
  color: red;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  p {
    font-size: 15px;
  }
  .display-4 {
    font-size: 40px;
  }
  .card {
   margin-top: 3%;
   margin-bottom: 10%;
   width: 83%;
   float: none;
   border: 1px solid black;
   height: auto;
  }
  .form-group {
    font-size: 10px;
  }
  #errorc,#errorp,#erroru {
    font-size: 13px;
  }
  input[type="text"],input[type="email"],input[type="password"],input[type="tel"],#branch{
    font-size: 14px;
  }
  #signin {
    font-size: 14px;
  }
  #register {
    width: 85%;
    margin-left: 7%;
  }
  #loader {
    height: 150px;
    width: 150px;
  }
}