<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Gothic+A1:600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<title>WallStreet 18</title>
	<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/homepage.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="/static/js/homepage.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>

	<div id="main">

		<img src="/static/images/Bizman.png" alt="BusinessMan" id="Bman">

		<nav class="navbar navbar-expand-sm navbar-dark">
			<!-- Links -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon" style=""></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					&nbsp; &nbsp; 
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="/sellbuy/dashboard/">Dashboard</a>
					</li> &nbsp; &nbsp;
					<li class="nav-item">
						<a class="nav-link" href="/auth/logout/">Logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="/auth/login/">Login</a>
					</li> &nbsp; &nbsp;
					<li class="nav-item">
						<a class="nav-link" href="/auth/register/">Register</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<div id="logo">
			<img src="/static/images/wslogo.png" alt="Logo not available!" id="logows">
			<div class=" display-4 mt-3" id="head"> WALL STREET </div>
		</div>


		<div class="flex-container" id="a">
			<div class="text-center">
				<p style="font-weight:bold;" id="text1"> Already a user? </p>
				<form action="/auth/login/">
					<input type="submit" class="btn btn-lg text-center" id="btn" value="Login">
				</form>
			</div>
			<div class="text-center">
				<p style="font-weight:bold;" id="text1"> Get registered </p>
				<form action="/auth/register/">
					<input type="submit" class="btn btn-lg text-center" id="btn" value="Register">
				</form>
			</div>
		</div>

		<div>
			<p class="text-center" id="corner"> A VIRTUAL STOCK<br> MARKET GAME </p>
		</div>
	</div>
	<br>
	<br>
	<div class="slideshow">
		<div class="slides slide" id="one">
			<div id="content">
				<div id="heading">
					<div class="display-4 text-center" id="heada"> INTRODUCTION </div>
				</div>
				<div class="flex-container" id="b">
					<div id="number">
						<div class="display-4 text-center"><br><br> 1 </div>
					</div>
					<div id="text"> <br> Wallstreet is a virtual game that will give the students an opportunity to see the transgressions
						of the market first hand. While creating a virtual stock market and providing them with virtual stocks, this game in
						turn allows students to learn to build up from the least and how to become a giant in the world of changing trends.<br><br>This
						will be a daily event with a daily winner. Person on the top of the share market with the largest number of shares
						in value goes home as the winner.</div>
				</div>
			</div>
		</div>

		<div class="slides slide">
			<div id="content">
				<div id="heading">
					<div class="display-4 text-center" id="heada"> SCOPE OF WORK </div>
				</div>
				<div class="flex-container" id="b">
					<div id="number">
						<div class="display-4 text-center"><br><br> 2 </div>
					</div>
					<div id="text"><br> The participants will be provided with certain initial amount of money which they will be using
						to buy virtual stocks. The stock market deatils for each virtual company will be generated and modified by the servers
						, details of which will be shown through a projector. Participants can sell the stocks they bought accordingly with
						the current prices of the stock. In this way a participant's profit value will change. At the end of the day the participant
						with maximum profit will be declared the winner. </div>
				</div>
			</div>
		</div>

		<div class="slides slide">
			<div id="content">
				<div id="heading">
					<div class="display-4 text-center" id="heada"> NEED </div>
				</div>
				<div class="flex-container" id="b">
					<div id="number">
						<div class="display-4 text-center"><br><br> 3 </div>
					</div>
					<div id="text"> <br> Helps develop the awareness of the trends of the market. Develop the descision making skills in
						students. Develop resource management skills. </div>
				</div>
			</div>
		</div>

		<div class="slides slide">
			<div id="content">
				<div id="heading">
					<div class="display-4 text-center" id="heada"> GOALS </div>
				</div>
				<div class="flex-container" id="b">
					<div id="number">
						<div class="display-4 text-center"><br><br> 4 </div>
					</div>
					<div id="text"> <br> To help students become aware of the market strategies. Develop self confidence among students
						among students while making big decisions. Start the habit of being aware of every development possibility among students.
					</div>
				</div>
			</div>
		</div>
	</div>

	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>

	<br>
	<br>
	<div class="footer text-center">
		<div id="info" class="text-center mt-2">
			<p id="clg"> ECELL NIT RAIPUR</p>
			<p> FOLLOW US ON SOCIAL MEDIA! <br>
				<a href="https://www.facebook.com/ecellnitrr/" class="fa fa-facebook"></a>
				<a href="https://twitter.com/ecellnitrr" class="fa fa-twitter"></a>
				<a href="https://www.linkedin.com/company/entrepreneurship-cell-nit-raipur/" class="fa fa-linkedin"></a>
				<a href="https://www.instagram.com/ecell.nitraipur/" class="fa fa-instagram"></a><br> &copy All rights reserved
		</div>
	</div>

</body>